body {
    box-sizing: border-box;
    margin: 0;
}

.main-container {
    min-height: 100vh;
}

/* navbar */

.navbar-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
}

.navbar-content {
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-logo {
    width: 72px;
}

.menu-icon {
    width: 50px;
    cursor: pointer;
}

@media screen and (min-width: 992px) {
    .menu-icon {
        display: none;
    }
}

.nav-list-container {
    list-style-type: none;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .nav-list-container {
        display: none;
    }
}

.nav-item {
    font-family: Arial, sans-serif;
    margin-left: 20px;
    font-weight: 600;
    cursor: pointer;
}

@media screen and (min-width: 1200px) {
    .nav-item {
        font-size: 20px;
        margin-left: 28px;
    }
}

.nav-item:hover {
    color: #3d3dcd;
}

.social-media-container {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .social-media-container {
        display: none;
    }
}

.social-icon {
    margin-left: 10px;
    cursor: pointer;
}

/* section 1 */

.section-container-1 {
    background-image: url("https://res.cloudinary.com/srinivasvasamsetti/image/upload/v1724120284/gd6sfmq0wnu0mvblhpzc.jpg");
    background-size: cover;
    height: 35vh;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

@media screen and (min-width: 400px) {
    .section-container-1 {
        height: 40vh;
    }
}

@media screen and (min-width: 576px) {
    .section-container-1 {
        height: 70vh;
    }
}

@media screen and (min-width: 768px) {
    .section-container-1 {
        height: 80vh;
    }
}

@media screen and (min-width: 992px) {
    .section-container-1 {
        height: 90vh;
    }
}

.card-container {
    background-image: linear-gradient(to right, #000000, #656363);
    background-size: cover;
    padding: 2px 8px;
    width: 50%;
    text-align: center;
}

@media screen and (min-width: 576px) {
    .card-container {
        width: 40%;
    }
}

@media screen and (min-width: 768px) {
    .card-container {
        width: 30%;
        padding: 2px 10px;
    }
}

.card-title {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #ffffff;
}

@media screen and (min-width: 992px) {
    .card-title {
        font-size: 28px;
    }
}

/* section 2 */

.section-container-2 {
    background-color: #a7a6a6;
    padding: 20px;
}

@media screen and (min-width: 576px) {
    .section-container-2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.description {
    font-family: Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 15px;
}

@media screen and (min-width: 992px) {
    .description {
        font-size: 20px;
        padding: 0px 34px;
    }
}

/* section 3 */

.section-container-3 {
    background-color: #d8d7d7;
    padding: 20px 30px;
    display: flex;
    justify-content: center;
}

.section-container-3-content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .section-container-3-content {
        width: 94%;
    }
}

@media screen and (min-width: 1200px) {
    .section-container-3-content {
        width: 92%;
    }
}

.lorem-ipsum-heading {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
}

@media screen and (min-width: 992px) {
    .lorem-ipsum-heading {
        font-size: 44px;
    }
}

.hotel-places-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

@media screen and (min-width: 768px) {
    .hotel-places-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.hotel-place {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    width: 100%;
    margin-right: 0px;
    margin-bottom: 50px;
}

@media screen and (min-width: 576px) {
    .hotel-place {
        width: 300px;
    }
}

@media screen and (min-width: 992px) {
    .hotel-place {
        width: 350px;
    }
}

@media screen and (min-width: 1200px) {
    .hotel-place {
        width: 400px;
        margin-bottom: 60px;
    }
}

.hotel-place-img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 576px) {
    .hotel-place-img {
        width: 300px;
    }
}

@media screen and (min-width: 992px) {
    .hotel-place-img {
        width: 350px;
    }
}

@media screen and (min-width: 1200px) {
    .hotel-place-img {
        width: 400px;
    }
}

.place-title {
    font-size: 18px;
    font-weight: 700;
}

.place-description {
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
}

.learn-more-btn {
    background-color: #000000;
    color: #ffffff;
    width: 160px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}